# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/

# SQLite databases
*.db
*.db-journal

# User-specific files
.env

# Virtual environment
.venv
venv/
env/
