.demoDot {
  width: 2px;
  height: 2px;
  background-color: rgb(255 255 255 / 0.5);
  border-radius: 50%;
  animation: bounce 1.4s infinite;
}

.demoDot:nth-child(2) {
  animation-delay: 150ms;
}

.demoDot:nth-child(3) {
  animation-delay: 300ms;
}

@keyframes bounce {
  0%, 60%, 100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
}
